<html>
    <app-navbar></app-navbar>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <table align="center">

           

            <tr>
                    <td>
                       
                        <label>Unesite username:</label>
                    </td>
                    <td>
                        <div class="input-group m">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">@</span>
                            </div>
                            <input type="text" class="form-control" formControlName="userNameProvera" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">                          
                          </div>
                          <div *ngIf="loginForm.controls.userNameProvera.invalid">
                            Molimo Vas unesite minimalno 6 karaktera
                        </div>
                    </td>
            </tr>

    
            <tr>
                <td>
                    <label>Unesite password:</label>
                </td>
    
                <td>
                    <input type="password" formControlName="lozinkaProvera" class="form-control" placeholder="Password">
                    <div *ngIf="loginForm.controls.lozinkaProvera.invalid">
                        Molimo Vas unesite minimalno 6 karaktera
                    </div>
                </td>
    
            </tr>
    
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <button type="submit" class="btn btn-outline-primary" [disabled]="!loginForm.valid">Submit</button>
                </td>
            </tr>
            <tr>
                <td>
                    Google logovanje:
                </td>
                <td>
                    <button (click)="LoginWithGoogle()" class="btn btn-outline-primary">Login with Google</button>
                </td>
            </tr>
            
            
        </table>
        
                <label id="labelaSaGreskom" name="labelaSaGreskom"></label>
            
    </form>
    <nav align="center">
        <a routerLink="/registrovanje">Jos nemate nalog? Registrujte se</a>
    </nav>
</html>