<h1>Lista svih avio kompanija</h1>
<div class="col-xs-6">
    <div class="table-responsive">
        <table class="table table-hover" align="left">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">NAZIV</th>
                    <th scope="col">ADRESA</th>
                    <th scope="col">PROMOTIVNI OPIS</th>
                    <th scope="col">DESTINACIJE</th>
                    <th scope="col">PROSEČNA OCENA</th>
                    <th scope="col">LETOVI</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let av of allFlightsCompany">
                    <td>{{av.naziv}}</td>
                    <td>{{av.adresa}}</td>
                    <td>{{av.promoOpis}}</td>
                    <td>{{av.destinacije}}</td>
                    <td>{{av.ocena}}</td>
                    <td><a  routerLink="/ispis-letova" > Vidi letove</a></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>