<app-napredni-navbar></app-napredni-navbar>
<h1>Avio admin pocetna strana</h1>
<button (click)="definisiDestinacije()" class="btn btn-outline-primary">Definisi destinaciju</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="dodajNovLet()" class="btn btn-outline-primary">Dodaj nov let</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="definisiCenovnik()" class="btn btn-outline-primary">Uredi cenovnik</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="dobaviIzvestaj()" class="btn btn-outline-primary">Dobavi izvestaj</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="izmeniPodatke()" class="btn btn-outline-primary">Izmeni podatke</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="izmeniPodatkeOAK()" class="btn btn-outline-primary">Izmeni o Avio kompaniji</button>
