<h1>Lista svih avio letova</h1>
<div class="col-xs-6">
    <div class="table-responsive">
        <table class="table table-hover" align="left">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">DATUM POLETANJA</th>
                    <th scope="col">DATUM SLETANJA</th>
                    <th scope="col">VREME PUTOVANJA</th>
                    <th scope="col">DUZINA PUTOVANJA</th>
                    <th scope="col">BROJ PRESEDANJA</th>
                    <th scope="col">LOKACIJA PRESEDANJA</th>
                    <th scope="col">CENA KARTE</th>
                    <th scope="col">SLOBODNA MESTA</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let al of allFlights">
                    <td>{{al.datumPoletanja}}</td>
                    <td>{{al.datumSletanja}}</td>
                    <td>{{al.satPutovanja}}h {{al.minutPutovanja}}min</td>
                    <td>{{al.duzinaPutovanja}}km</td>
                    <td>{{al.brojPresedanja}}</td>
                    <td>{{al.lokacijaPresedanja}}</td>
                    <td>{{al.cenaKarte}}</td>
                    <td>{{al.slobodnaMesta}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>