<h1>Lista svih avio letova</h1>
<input type="text" placeholder="Pretraga letova" [(ngModel)]="searchFlight" (input) = "Search()">
<input type="text" placeholder="Pretraga letova2" [(ngModel)]="searchFlight2" (input) = "Search()">

<div class="col-xs-6">
    <div class="table-responsive">
        <table class="table table-hover" align="left">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">MESTO POLETANJA</th>
                    <th scope="col">MESTO SLETANJA</th>
                    <th scope="col">DATUM POLETANJA</th>
                    <th scope="col">DATUM SLETANJA</th>
                    <th scope="col">DUZINA PUTOVANJA</th>
                    <th scope="col">BROJ PRESEDANJA</th>
                    <th scope="col">LOKACIJA PRESEDANJA</th>
                    <th scope="col">CENA KARTE</th>
                    <th scope="col">SLOBODNA MESTA</th>
                    <th scope="col"  *ngIf="user ==2">REZERVISI LET</th>

                </tr>
            </thead>
            <tbody>                
                <tr *ngFor="let al of listaLetova">
                    <td>{{al.lokacijaPoletanja}}</td>
                    <td>{{al.lokacijaSletanja}}</td>
                    <td>{{al.datumPoletanja}}</td>
                    <td>{{al.datumSletanja}}</td>
                    <td>{{al.duzinaPutovanja}}km</td>
                    <td>{{al.brojPresedanja}}</td>
                    <td>{{al.lokacijaPresedanja}}</td>
                    <td>{{al.cenaKarte}}</td>
                    <td>{{al.slobodnaMesta}}</td>
                    <button class="btn btn-outline-primary" *ngIf="user == 2" (click)="RezervacijaLeta(al.lokacijaPoletanja,al.lokacijaSletanja,al.datumPoletanja,al.datumSletanja)">REZERVISI</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>