<h1>Lista svih automobila za izdavanje</h1>
<input type="text" placeholder="Pretraga automobila" [(ngModel)]="searchServicRaC" (input) = "Search()">

<div class="col-xs-6">
    <div class="table-responsive">
        <table class="table table-hover" align="left">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">MARKA</th>
                    <th scope="col">MODEL</th>
                    <th scope="col">GODINA</th>
                    <th scope="col">CENA ZA JEDAN DAN</th>
                    <th scope="col"  *ngIf="user ==2">REZERVISI KOLA</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of lista">
                    <td>{{car.brend}}</td>
                    <td>{{car.model}}</td>
                    <td>{{car.godina}}</td>
                    <td>{{car.cenaPoDanu}}$</td>
                    <button class="btn btn-outline-primary" *ngIf="user == 2" (click)="RezervacijaKola(car.brend,car.model,car.godina,car.cenaPoDanu)">REZERVISI</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>