<div align="right" >
    <a  routerLink="/logovanje" > Ulogujte se</a> &nbsp; 
    <a  routerLink="/registrovanje" >   Registrujte se</a>
</div>  
<br>
<h1>Lista svih automobila za izdavanje</h1>
<div class="col-xs-6">
    <div class="table-responsive">
        <table class="table table-hover" align="left">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">MARKA</th>
                    <th scope="col">MODEL</th>
                    <th scope="col">GODINA</th>
                    <th scope="col">CENA ZA JEDAN DAN</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of allCars">
                    <td>{{car.brand}}</td>
                    <td>{{car.model}}</td>
                    <td>{{car.year}}</td>
                    <td>{{car.pricePerDay}}$</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h1>Lista svih hotela za izdavanje</h1>
<div class="col-xs-6">
    <div class="table-responsive">
        <table class="table table-hover" align="right">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">IME</th>
                    <th scope="col">ADRESA</th>
                    <th scope="col">OCENA</th>
                    <th scope="col">CENA OD</th>
                    <th scope="col">CENA DO</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hotels of allHotels">
                    <td>{{hotels.name}}</td>
                    <td>{{hotels.address}}</td>
                    <td>{{hotels.rate}}</td>
                    <td>{{hotels.pricesFrom}}</td>
                    <td>{{hotels.pricesTo}}$</td>
                </tr>
            </tbody>
        </table>
        </div>
 </div>

