<p>{{username}}</p>
<button (click)="izmeniPodatke()" class="btn btn-outline-primary">Izmeni podatke</button>
<hr style="height:2px;background-color:yellow">
<button (click)="rezervisiKarte()" class="btn btn-outline-primary">Rezervisi karte</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="oceniAviokompaniju()" class="btn btn-outline-primary">Oceni Avio-kompaniju</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="oceniLet()" class="btn btn-outline-primary">Oceni let</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="otkaziLet()" class="btn btn-outline-primary">Otkazi let</button>
<hr style="height:2px;background-color:yellow">
<button (click)="rezervisiVozilo()" class="btn btn-outline-primary">Rezervisi automobil</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="oceniRentACar()" class="btn btn-outline-primary">Oceni Rent-a-Car kompaniju</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="oceniVozilo()" class="btn btn-outline-primary">Oceni vozilo</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="otkaziVozilo()" class="btn btn-outline-primary">Otkazi vozilo</button>

