<app-napredni-navbar></app-napredni-navbar>
<p>{{username}}</p>
<a routerLink="/rent-a-car">Vidi Rent_A-Car kompanije</a> <br>
<a routerLink="/avio-component">Vidi Avio kompanije</a><br><br>
<button (click)="vidiKorisnike()" class="btn btn-outline-primary">Vidi Korisnike</button>
<button (click)="izmeniPodatke()" class="btn btn-outline-primary">Izmeni podatke</button>


<table align="left">
    <tr>
        <td>
            <label>Ime:</label>
        </td>
        <td>
            <label id="ImeKorisnika" name="ImeKorisnika"></label>

        </td>
    </tr>

    <tr>
        <td>
            <label>Prezime:</label>
        </td>
        <td>
            <label id="PrezimeKorisnika" name="PrezimeKorisnika"></label>
        </td>
    </tr>

    <tr>
        <td>
            <label>E-adresa:</label>
        </td>
        <td>
            <label  id="EmailKorisnika"name="EmailKorisnika"></label>

        </td>
    </tr>
    <tr>
        <td>
            <label>Ime vašeg grada:</label>
        </td>
        <td>
            <label id="GradKorisnika" name="EmailKorisnika"></label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Broj mobilnog telefona:</label>
        </td>
        <td>
            <label id="TelefonKorisnika" name="TelefonKorisnika"></label>

        </td>
    </tr>
    
</table>
