<app-napredni-navbar></app-napredni-navbar>
<h1>Izmenite podatke Rent-A-Car servisa</h1>
<form [formGroup]="serviceRAC.izmenaRACForm" (ngSubmit)="onSubmit()" style="width: 50rem;" class="mx-auto">

    <div class="form-group">
        <label for="NazivAvioKompanije">Naziv Rent A Car kompanije</label>
        <input type="text" formControlName="nazivProvera" class="form-control" id="NazivAvioKompanije" placeholder="Naziv Rent A Car kompanije">
    </div>
    <div class="form-group">
        <label for="Adresa">Adresa</label>
        <input type="text" formControlName="adresaProvera" class="form-control" id="Adresa" placeholder="Adresa">
    </div>
    <div class="form-group">
        <label for="PromotivniOpis">Promotivni opis</label>
        <textarea class="form-control"  formControlName="promotivniOpisProvera" id="PromotivniOpis" rows="3" placeholder="Promotivni opis"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Izmeni podatke</button>
</form>

    <table align="left">
        <tr>
            <td>
                <label>Naziv Rent A Car kompanije:</label>
            </td>
            <td>
                <label id="nazivServisa" name="nazivServisa"></label>

            </td>
        </tr>

        <tr>
            <td>
                <label>Adresa Rent A Car kompanije:</label>
            </td>
            <td>
                <label id="adresaRAC" name="adresaRAC"></label>
            </td>
        </tr>

        <tr>
            <td>
                <label>Promotivni opis:</label>
            </td>
            <td>
                <label  id="promoOpis"name="promoOpis"></label>

            </td>
        </tr>     
    </table>




