<span>
    <div class="plane">
        <div class="cockpit">
            <h1>Please select a seat</h1>
        </div>
        <div class="exit exit--front fuselage">

        </div>
        <ol class="cabin fuselage">
            <li class="row row--1">
                <ol class="seats" type="1" *ngFor="let rez of listaSedista" name="ime">
                    <li class="seat" *ngIf=!rez.zauzeto>
                        <input type="checkbox" id="{{rez.brojSedista}}" />
                        <label for="{{rez.brojSedista}}">{{rez.brojSedista}}</label>
                    </li>
                    <li class="seat" *ngIf=rez.zauzeto>
                        <input type="checkbox" disabled="disabled" id="{{rez.brojSedista}}" />
                        <label for="{{rez.brojSedista}}">{{rez.brojSedista}}</label>
                    </li>

                </ol>
            </li>
        </ol>
        <div>
            <button class="btn btn-success" (click)="Rezervisi()"> Rezervisi</button>
            <div class="exit exit--back fuselage">
            </div>

        </div>
    </div>
</span>