<span>
    <div class="plane">
        <div class="cockpit">
            <h1>Please select a seat</h1>
        </div>
        <div class="exit exit--front fuselage">

        </div>
        <ol class="cabin fuselage">
            <li class="row row--1">
                <ol class="seats" type="1" *ngFor="let rez of listaSedista" name="ime">
                    <li class="seat" *ngIf=!rez.zauzeto>
                        <input type="checkbox" id="{{rez.brojSedista}}" />
                        <label for="{{rez.brojSedista}}">{{rez.brojSedista}}</label>
                    </li>
                    <li class="seat" *ngIf=rez.zauzeto>
                        <input type="checkbox" disabled="disabled" id="{{rez.brojSedista}}" />
                        <label for="{{rez.brojSedista}}">{{rez.brojSedista}}</label>
                    </li>

                </ol>
            </li>
        </ol>
        <div>
            <button class="btn btn-success" (click)="Rezervisi()"> Rezervisi</button>
            <form [formGroup]="service.prijateljForma">
                <label for="Prijatelji">Prijatelji</label>
                <select class="form-control" id="Prijatelji" placeholder="Prijatelji" formControlName="prijateljProvera"
                    class="form-group">
                    <option *ngFor="let el of listaPrijatelja; let i = index;" value="{{el.userName}}">{{el.userName}}</option>
                </select>
                <button class="btn btn-success" (click)="RezervisiZaPrijatelja()"> Rezervisi za Prijatelja</button>
            </form>
            <div class="exit exit--back fuselage">
            </div>

        </div>
    </div>
</span>

