<form [formGroup]="registrovanjeForm" (ngSubmit)="onSubmit()">
    <table align="center">
        <tr>
            <td>
                <label>Unesite ime:</label>
            </td>
            <td>
                <input type="text" formControlName="imeProvera">
                <div *ngIf="registrovanjeForm.controls.imeProvera.invalid">
                    Molimo Vas unesite ime
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Unesite prezime:</label>
            </td>
            <td>
                <input type="text" formControlName="prezimeProvera">
                <div *ngIf="registrovanjeForm.controls.prezimeProvera.invalid">
                    Molimo Vas unesite prezime
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Unesite username:</label>
            </td>
            <td>
                <input type="text" formControlName="userNameProvera">
                <div *ngIf="registrovanjeForm.controls.userNameProvera.invalid">
                    Molimo Vas unesite minimalno 6 karaktera
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Unesite password:</label>
            </td>
            <td>
                <input type="password" formControlName="lozinkaProvera">
                <div *ngIf="registrovanjeForm.controls.lozinkaProvera.invalid">
                    Molimo Vas unesite minimalno 6 karaktera
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Ponovite password:</label>
            </td>

            <td>
                <input type="password" formControlName="proveralozinkeProvera">
            </td>
        </tr>
        <tr>
            <td>
                <label>Unesite e-adresu:</label>
            </td>
            <td>
                <input type="email" formControlName="eadresaProvera">
                <div *ngIf="registrovanjeForm.controls.eadresaProvera.invalid">
                    Molimo Vas unesite ispravan e-mail
                </div>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
</form>