<form>
    <table>
        <tr>
            <label>Unesite ime:</label>
            <input type="text">
        </tr>
        <tr>
            <label>Unesite prezime:</label>
            <input type="text">
        </tr>
        <tr>
            <label>Unesite username:</label>
            <input type="text">
        </tr>
        <tr>
            <label>Unesite password:</label>
            <input type="password">
        </tr>
        <tr>
            <label>Ponovite password:</label>
            <input type="password">
        </tr>
        <tr>
            <label>Unesite adresu:</label>
            <input type="text">
        </tr>
        <tr>
            <input type="submit" value="Submit">
        </tr>
    </table>
</form>