<form [formGroup]="registrovanjeForm" (ngSubmit)="onSubmit()">
    <table align="center">
        <tr>
            <td>
                <label>Unesite ime:</label>
            </td>
            <td>
                <input type="text" formControlName="imeProvera">
                <div *ngIf="registrovanjeForm.controls.imeProvera.invalid">
                    Molimo Vas unesite ime
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Unesite prezime:</label>
            </td>
            <td>
                <input type="text" formControlName="prezimeProvera">
                <div *ngIf="registrovanjeForm.controls.prezimeProvera.invalid">
                    Molimo Vas unesite prezime
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Unesite password:</label>
            </td>
            <td>
                <input type="password" formControlName="lozinkaProvera">
                <div *ngIf="registrovanjeForm.controls.lozinkaProvera.invalid">
                    Molimo Vas unesite minimalno 6 karaktera
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Ponovite password:</label>
            </td>

            <td>
                <input type="password" formControlName="proveralozinkeProvera">
            </td>
        </tr>
        <tr>
            <td>
                <label>Unesite e-adresu:</label>
            </td>
            <td>
                <input type="email" formControlName="eadresaProvera">
                <div *ngIf="registrovanjeForm.controls.eadresaProvera.invalid">
                    Molimo Vas unesite ispravan e-mail
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Unesite ime vašeg grada:</label>
            </td>
            <td>
                <input type="text" formControlName="gradProvera">
                <div *ngIf="registrovanjeForm.controls.gradProvera.invalid">
                    Popunite naziv Vašeg grada
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Unesite broj mobilnog telefona:</label>
            </td>
            <td>
                <input type="text" formControlName="telefonProvera" >
                <div *ngIf="registrovanjeForm.controls.telefonProvera.invalid">
                    Molimo Vas unesite pravilan format mobilnog telefona
                </div>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <input type="submit" value="Submit" [disabled]="!registrovanjeForm.valid">
            </td>
        </tr>
    </table>
</form>