<h1>Car admin pocetna strana</h1>
<button (click)="dodajKola()" class="btn btn-outline-primary">Dodaj kola</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="dodajCenovnik()" class="btn btn-outline-primary">Dodaj cenovnik</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="dobaviIzvestaj()" class="btn btn-outline-primary">Dobavi izvestaj</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="urediInfoStranice()" class="btn btn-outline-primary">Uredi info stranice</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="izmeniPodatke()" class="btn btn-outline-primary">Izmeni podatke</button>
<button (click)="izmeniPodatkeORAC()" class="btn btn-outline-primary">Izmeni o Rent-A-Car servisu</button>

